*{
    margin: 0;
    padding: 0;
}

/*------------------------------HEADER----------------------------------------------*/
/*---------------------headertop-------------------------------------------------*/

a{
    color: white;
    display: block;
    text-decoration: none;
    font-size:200%;
}

a:hover{
    color: #FFA500;
}

.headertop{
   padding: 1%;
   padding-left: 4%;
    background-color: rgb(11, 78, 165);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.option {
    width: 80%;
    border: white;
    display: flex;
    justify-content: flex-start
}

.option2 {
    width: 90%;
    display: flex;
}

.h1img2{
    display: flex;
    justify-content: flex-end;

}

.h1-header {
    color: white;
    list-style-type: none;
}

.h1-header2 {
    margin-top: 5%;
    color: white;
}

.headerimg {
    width: 30%;
}
.headerimg2{
    width: 15%;
    height: auto;
}

/*-------------------------------------headerbot------------------------------*/

.headerbot {
    background-color: rgb(80, 125, 168);
    border-bottom: 40px solid #eb7f32;
    box-shadow: 2px 2px 30px #CD5700;
    display: flex;
    width: 100%;
}
.option3 {
    display: flex;
    justify-content: flex-start;
}
.option4 {
    display: flex;
    justify-content: flex-end;
    margin-left: 2%;
}

.h1img3 {
    width: 30%;
    height: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
}
.logoheader {
    width: 50%;
    padding: 0;
    margin: 0;
}
.h1-header3 {
    margin-top: 8%;
    color: white;
    margin-right: 10%;
    font-size: 20px;
}



.headerimg4 {
    width: 60%;
    margin-left: -5%;
}


/*FIN HEADER*/

/*----------------------------------------FOOTER--------------------------------*/

.h1-footer {
    color: white;
}

footer {
    padding: 1%;
    padding-left: 10%;
    height: 10%;
    background: rgb(11, 78, 165);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 100%;
    border-top: 70px solid #eb7f32;
    box-shadow: 1px 1px 20px #CD5700;
}

.h1img {
    display: flex;
    align-items: center;
}

.footerimg {
    width: 15%;
}

.footerclass {
    display: flex;
    flex-direction: column;
}

/*FIN FOOTER*/


/*--------------------------------BODY --------------------------------------*/

body{
    background-color: rgb(240, 245, 245);
}


.formerimg {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 3%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 0px 2px 30px #000;
}
.video
{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10%;
    width: 100%;
}

.textecadre{
    font-size:20px ;
    color: red;
    rgb(192, 54, 54)
}

.paragraphe
{
    font-size: 150%;
}
.partenaire
{
    margin-left: 20%;
}
.certification
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-bottom: 15%;
}
input
{
    font-size: 14px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding-left:10px;
    border-radius: 5px;
    width: 347px;
    height: 50px;
}

.textenew
{
    font-size: 200%;
    border-left: 3px solid rgb(35, 35, 151);
    padding: 1%;
    margin-top: 10%;
}
.pstart
{
    width: 100%;
}

.box-textstart
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
.textestart
{
    width: 50%;
    padding: 5%;
    font-size: 140%;
}
.textstart2
{
    border: 1px solid black;
    font-size: 150%;
    width: 40%;
    padding: 3%;
    background-color: rgb(250, 250, 106);
}


/*----------------------------------- ALL-----------------------------------*/
/*TITRE*/
.h1-titre {
    text-align: center;
    text-shadow: 0px 1px 1px #000;
    font-size: 50px;
    margin-top: 5%;
}

.h2-titre {
    color: rgb(27, 23, 23);
    font-size: 50px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 5%;
    border-top: 2px solid #000;
    padding: 3%;
}
.box-cadre {
    border: 3px solid rgb(6, 57, 104);
    box-shadow: 1px 25px 35px white;
    border-radius: 10%;
    padding: 2%;
    background: whitesmoke;
    margin: auto;
    width: 60%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.box-cadre2 {
    border: 3px solid black;
    box-shadow: 1px 25px 35px rgb(55, 55, 163);
    border-radius: 10%;
    padding: 2%;
    background: whitesmoke;
    width: 30%;
    text-align: center;
    font-size: 180%;
    
    
}
.cadre2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10%;
    margin-top: 5%;
}
.box-cadre3{
    border: 3px solid rgb(6, 57, 104);
    box-shadow: 1px 25px 35px white;
    background: whitesmoke;
    border-radius: 10%;
    margin: auto;
    width: 40%;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 5%;
}


.important
{
    color: rgb(192, 54, 54);
}
.box-button {
    border-radius: 5px;
    border: 0;
    outline:0;
    background: #d2483c;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-bottom: 10%;
    cursor: pointer;
    font-size: 40px;
    width: 30%;
    padding: 1%;
    padding-bottom: 3%;
    color: #fff;
  }
  .box-button2 {
    border-radius: 5px;
    border: 0;
    outline:0;
    background: #d2483c;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    width: 40%;
    padding: 1%;
    padding-bottom: 6%;
    color: #fff;
  }
 

